.menu-button {
    @include for-size(mobile) {
        display: inline-block;
        width: 40px;
        margin-left: 200px;
        
      }

      @include for-size(tablet) {
        display: none;
      }
  
      @include for-size(desktop) {
        display: none;
      } 
}

