.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .section-clients__heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  
  .ya-co {
    width: 44px;
    height: 49px;
  }
  .line-here {
    width: 40px;
    height: 52px;
  }
  .icon-company {
    width: 41px;
    height: 42px;
  }
  .foster {
    width: 80px;
    height: 42px;
  }
  .brand {
    width: 59px;
    height: 47px;
  }
  .tag__line {
    width: 88px;
    height: 45px;
  }
  